html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
        
*, *:before, *:after { box-sizing: inherit; }

.position {
    position: relative;
    height: 100vh;
    width: 100%;
}
/* Saturn Styling */
.saturnBackground {
    height: 100vh;
    width: 100%;
    background: #0d0d0d;
    background-image: radial-gradient(yellow 1%, transparent 1%),
    radial-gradient(white 1%, transparent 1%);
    background-size: 150px 150px, 150px 150px;
    background-position: 0 0, 75px 75px;
    animation: bg-move 1s linear infinite forwards;
}

@keyframes bg-move {
    0% {
        background-position: 0 0, 75px 75px;
    }

    100% {
        background-position: 75px 75px, 150px 150px;
    }
}

.saturn {
    width: 300px;
    height: 300px;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    border: 1px #1f124d solid;
    background: -webkit-radial-gradient(65% 15%, circle, #e2d2f5 10%, #b2a0ee 25%, #aa99e5 30%, #382186 70%, #1f124d 80%);
}

.saturn::before {
    content: "";
    height: 5px;
    width: 5px;
    display: block;
    background-color: transparent;
    border-radius: 50%;
    box-shadow:
    16px -5px 0 -1px #FF7F00,
    7px 3px 0 0 #FF7F00,
    0 15px 0 -1px #FF7F00,
    -10px 15px 0 0 #FF7F00,
    -24px 20px 0 -1px #FF7F00,
    -8px 24px 0 -1px #FF7F00,
    -18px 36px 0 -1px #FF7F00,
    -5px 36px 0 0 #FF7F00,
    -28px 30px 0 0 #FF7F00,
    -26px 38px 0 -1px #FF7F00,
    -20px 44px 0 -1px #FF7F00,
    -15px 42px 0 0 #FF7F00,
    -14px 48px 0 -1px #FF7F00,
    -18px 52px 0 -1px #FF7F00,
    -24px 52px 0 0 #FF7F00,
    -28px 45px 0 -1px #FF7F00,
    -30px 54px 0 -1px #FF7F00,
    -32px 60px 0 -1px #FF7F00,
    -29px 66px 0 0 #FF7F00,
    -20px 67px 0 -1px #FF7F00,
    -15px 60px 0 0 #FF7F00,
    -24px 60px 0 -1px #FF7F00,
    -10px 70px 0 0 #FF7F00,
    -15px 75px 0 -1px #FF7F00,
    -24px 72px 0 -1px #FF7F00,
    -30px 78px 0 -1px #FF7F00,
    -22px 82px 0 0 #FF7F00,
    -24px 90px 0 -1px #FF7F00,
    -15px 97px 0 -1px #FF7F00,
    -10px 91px 0 0 #FF7F00,
    -12px 83px 0 -1px #FF7F00,
    -16px 115px 0 -1px #FF7F00,
    -10px 112px 0 -1px #FF7F00,
    -4px 105px 0 -1px #FF7F00,
    -10px 122px 0 0 #FF7F00,
    25px 187px 0 0 #00FF00,
    30px 196px 0 0 #00FF00,
    50px 205px 0 -1px #00FF00,
    60px 210px 0 -1px #00FF00,
    50px 220px 0 0 #00FF00,
    55px 230px 0 -1px #00FF00,
    60px 220px 0 -1px #00FF00,
    70px 225px 0 0 #00FF00,
    68px 215px 0 0 #00FF00,
    68px 240px 0 -1px #00FF00,
    72px 235px 0 0 #00FF00,
    80px 225px 0 -1px #00FF00,
    82px 240px 0 0 #00FF00,
    75px 250px 0 0 #00FF00,
    82px 255px 0 -1px #00FF00,
    90px 250px 0 0 #00FF00,
    90px 240px 0 0 #00FF00,
    88px 230px 0 -1px #00FF00,
    100px 250px 0 0 #00FF00,
    90px 260px 0 -1px #00FF00,
    95px 255px 0 -1px #00FF00,
    102px 260px 0 -1px #00FF00,
    120px 280px 0 0 #00FF00,
    120px 265px 0 0 #00FF00,
    135px 280px 0 -1px #00FF00,
    180px 300px 0 0 #6d00bd,
    185px 290px 0 -1px #6d00bd,
    195px 290px 0 -1px #6d00bd,
    191px 315px 0 -1px #6d00bd,
    200px 310px 0 0 #6d00bd,
    195px 300px 0 -1px #6d00bd,
    208px 315px 0 -1px #6d00bd,
    215px 320px 0 0 #6d00bd,
    222px 310px 0 -1px #6d00bd,
    224px 320px 0 0 #6d00bd,
    230px 320px 0 -1px #6d00bd,
    240px 310px 0 -1px #6d00bd,
    230px 305px 0 0 #6d00bd,
    240px 320px 0 0 #6d00bd,
    250px 320px 0 0 #6d00bd,
    246px 310px 0 -1px #6d00bd,
    244px 330px 0 -1px #6d00bd,
    235px 328px 0 0 #6d00bd,
    260px 310px 0 0 #6d00bd,
    270px 320px 0 0 #6d00bd,
    275px 310px 0 0 #6d00bd,
    280px 300px 0 -1px #6d00bd,
    282px 315px 0 -1px #6d00bd,
    288px 295px 0 -1px #6d00bd,
    290px 270px 0 -1px #6d00bd,
    300px 285px 0 -1px #6d00bd,
    295px 260px 0 -1px #6d00bd;
    opacity: 0;
    animation: flicker 6s infinite;
}

.saturn::after {
    content: "";
    height: 5px;
    width: 5px;
    display: block;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow:  
    78px 5px 0 -1px #FF0000,
    76px 12px 0 -1px #FF0000,
    82px 8px 0 -1px #FF0000,
    72px 4px 0 0 #FF0000,
    64px 10px 0 0 #FF0000,
    64px 0 0 -1px #FF0000,
    60px 2px 0 -1px #FF0000,
    55px -4px 0 0 #FF0000,
    54px 4px 0 -1px #FF0000,
    50px 10px 0 0 #FF0000,
    45px 5px 0 -1px #FF0000,
    47px -4px 0 -1px #FF0000,
    40px -8px 0 -1px #FF0000,
    32px -6px 0 -1px #FF0000,
    36px 0 0 0 #FF0000,
    33px 6px 0 -1px #FF0000,
    28px 0 0 -1px #FF0000,
    18px 0 0 0 #FF0000,
    24px -4px 0 -1px #FF0000,
    28px 8px 0 -1px #FF0000,
    20px 10px 0 0 #FF0000,
    15px 6px 0 -1px #FF0000,
    7px -3px 0 -1px #FF0000,
    -4px 9px 0 0 #FF0000,
    7px 10px 0 -1px #FF0000,
    -17px 12px 0 0 #FF0000,
    -1px 25px 0 -1px #FF0000,
    -16px 28px 0 0 #FF0000,
    -19px 92px 0 0 #FFFF00,
    -11px 105px 0 0 #FFFF00,
    -20px 105px 0 #FFFF00,
    0 116px 0 0 #FFFF00,
    0px 130px 0 0 #FFFF00,
    -4px 123px 0 -1px #FFFF00,
    -11px 135px 0 -1px#FFFF00, 
    6px 125px 0 -1px #FFFF00,
    8px 136px 0 0 #FFFF00,
    0px 140px 0 0 #FFFF00,
    -2px 150px 0 -1px #FFFF00,
    8px 148px 0 0 #FFFF00,
    15px 145px 0 -1px #FFFF00,
    10px 160px 0 0 #FFFF00,
    16px 155px 0 0 #FFFF00,
    22px 155px 0 -1px #FFFF00,
    25px 167px 0 -1px #FFFF00,
    5px 170px 0 0 #FFFF00,
    14px 168px 0 -1px #FFFF00,
    14px 175px 0 0 #FFFF00,
    25px 178px 0 0 #FFFF00,
    35px 178px 0 -1px #FFFF00,
    32px 170px 0 -1px #FFFF00,
    38px 185px 0 0 #FFFF00,
    32px 190px 0 -1px #FFFF00,
    40px 195px 0 0 #FFFF00,
    48px 197px 0 -1px #FFFF00,
    35px 205px 0 -1px #FFFF00,
    45px 210px 0 0 #FFFF00,
    55px 213px 0 0 #FFFF00,
    104px 265px 0 0 #0000ff,
    110px 260px 0 0 #0000ff,
    95px 262px 0 -1px #0000ff,
    115px 270px 0 -1px #0000ff,
    110px 275px 0 -1px #0000ff,
    125px 290px 0 0 #0000ff,
    125px 275px 0 -1px #0000ff,
    135px 270px 0 0 #0000ff,
    145px 280px 0 0 #0000ff,
    128px 280px 0 -1px #0000ff,
    140px 290px 0 0 #0000ff,
    160px 280px 0 0 #0000ff,
    155px 290px 0 -1px #0000ff,
    150px 300px 0 -1px #0000ff,
    160px 300px 0 0 #0000ff,
    165px 295px 0 -1px #0000ff,
    168px 285px 0 -1px #0000ff,
    169px 300px 0 -1px #0000ff,
    170px 310px 0 0 #0000ff,
    173px 300px 0 -1px #0000ff,
    175px 290px 0 0 #0000ff,
    178px 310px 0 -1px #0000ff,
    190px 305px 0 0 #0000ff,
    197px 318px 0 0 #0000ff,
    210px 325px 0 -1px #0000ff,
    215px 310px 0 0 #0000ff,
    255px 300px 0 -1px #EE82EE,
    256px 315px 0 -1px #EE82EE,
    265px 315px 0 -1px #EE82EE,
    270px 300px 0 0 #EE82EE,
    275px 290px 0 -1px #EE82EE,
    290px 305px 0 0 #EE82EE,
    285px 285px 0 0 #EE82EE,
    283px 270px 0 -1px #EE82EE,
    291px 280px 0 0 #EE82EE,
    295px 295px 0 0 #EE82EE,
    280px 260px 0 -1px #EE82EE,
    300px 275px 0 0 #EE82EE,
    298px 268px 0 -1px #EE82EE,
    305px 265px 0 0 #EE82EE,
    300px 255px 0 -1px #EE82EE,
    290px 245px 0 -1px #EE82EE,
    295px 250px 0 0 #EE82EE,
    290px 260px 0 0 #EE82EE,
    293px 240px 0 0 #EE82EE,
    305px 245px 0 -1px #EE82EE,
    288px 230px 0 0 #EE82EE,
    299px 230px 0 -1px #EE82EE,
    295px 225px 0 -1px #EE82EE,
    294px 220px 0 -1px #EE82EE,
    286px 222px 0 0 #EE82EE;

    opacity: 0;
    animation: flicker 3s infinite;
}

@keyframes flicker {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* Speaker Styling */
.speakerBackground {
    background: lightgrey;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    bottom: -100%;
}

.speaker,
.speaker::before,
.speaker::after {
    border-radius: 50%;
    background: transparent;
    margin: auto;
    position: absolute;
    border: 40px transparent solid;
}


.speaker::before,
.speaker::after {
    display: block;
    content: "";
}

.speaker {
    height: 800px;
    width: 800px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: 75px 75px;
    background-repeat: no-repeat;
    background-image: 
    linear-gradient(to right, black 10%, transparent 10%), 
    linear-gradient(to right, black 10%, transparent 10%),
    linear-gradient(to top, black 10%, transparent 10%),
    linear-gradient(to bottom, black 10%, transparent 10%),
    linear-gradient(to top, black 10%, transparent 10%),
    linear-gradient(to bottom, black 10%, transparent 10%),
    linear-gradient(130deg, transparent, transparent 45%, black 45%, black 55%, transparent 55%, transparent 100%),
    linear-gradient(230deg, transparent, transparent 45%, black 45%, black 55%, transparent 55%, transparent 100%),
    linear-gradient(to left, black 10%, transparent 10%),
    linear-gradient(to left, black 10%, transparent 10%),
    linear-gradient(to left, black 10%, transparent 10%),
    linear-gradient(to left, black 10%, transparent 10%);
    background-position: 
    150px 290px,
    150px 365px,
    150px 365px,
    150px 290px,
    225px 365px,
    225px 290px,
    290px 222px,
    290px 432px,
    290px 432px,
    290px 365px,
    290px 295px,
    290px 222px;
    border-right: 40px black solid;
    animation: charge 9s linear infinite;
}

.speaker::before {
    height: 400px;
    width: 400px;
    top: 0;
    bottom: 0;
    left: 150px;
    border-right: 40px black solid;
    animation: wave1 9s linear infinite forwards;
    }


.speaker::after {
    height: 600px;
    width: 600px;
    top: 0;
    bottom: 0;
    left: 50px;
    border-right: 40px black solid;
    animation: wave2 9s linear infinite forwards;
}

@keyframes wave1 {
    0% {
        border-right: 40px transparent solid;
    }

    15% {
        border-right: 40px black solid;
    }

}

@keyframes wave2 {
    0% {
        border-right: 40px transparent solid;
    }

    15% {
        border-right: 40px transparent solid;
    }

    55% {
        border-right: 40px black solid;
    }
}

@keyframes charge {
    0% {
        background-image: 
            linear-gradient(to right, black 10%, transparent 10%), 
            linear-gradient(to right, black 10%, transparent 10%),
            linear-gradient(to top, black 10%, transparent 10%),
            linear-gradient(to bottom, black 10%, transparent 10%),
            linear-gradient(to top, black 10%, transparent 10%),
            linear-gradient(to bottom, black 10%, transparent 10%),
            linear-gradient(130deg, transparent, transparent 45%, black 45%, black 55%, transparent 55%, transparent 100%),
            linear-gradient(230deg, transparent, transparent 45%, black 45%, black 55%, transparent 55%, transparent 100%),
            linear-gradient(to left, black 10%, transparent 10%),
            linear-gradient(to left, black 10%, transparent 10%),
            linear-gradient(to left, black 10%, transparent 10%),
            linear-gradient(to left, black 10%, transparent 10%);
        border-right: 40px transparent solid;
    }

    33.33% {
        background-image: 
            linear-gradient(to right, black 10%, transparent 10%), 
            linear-gradient(to right, black 10%, transparent 10%),
            linear-gradient(to top, black 10%, black 10%),
            linear-gradient(to bottom, black 10%, black 10%),
            linear-gradient(to top, black 10%, transparent 10%),
            linear-gradient(to bottom, black 10%, transparent 10%),
            linear-gradient(130deg, transparent, transparent 45%, black 45%, black 55%, transparent 55%, transparent 100%),
            linear-gradient(230deg, transparent, transparent 45%, black 45%, black 55%, transparent 55%, transparent 100%),
            linear-gradient(to left, black 10%, transparent 10%),
            linear-gradient(to left, black 10%, transparent 10%),
            linear-gradient(to left, black 10%, transparent 10%),
            linear-gradient(to left, black 10%, transparent 10%);
        border-right: 40px transparent solid;
    }

    66.67% {
        background-image: 
            linear-gradient(to right, black 10%, transparent 10%), 
            linear-gradient(to right, black 10%, transparent 10%),
            linear-gradient(to top, black 10%, black 10%),
            linear-gradient(to bottom, black 10%, black 10%),
            linear-gradient(to top, black 10%, black 10%),
            linear-gradient(to bottom, black 10%, black 10%),
            linear-gradient(130deg, transparent, transparent 45%, black 45%, black 55%, transparent 55%, transparent 100%),
            linear-gradient(230deg, transparent, transparent 45%, black 45%, black 55%, transparent 55%, transparent 100%),
            linear-gradient(to left, black 10%, transparent 10%),
            linear-gradient(to left, black 10%, transparent 10%),
            linear-gradient(to left, black 10%, transparent 10%),
            linear-gradient(to left, black 10%, transparent 10%);
        border-right: 40px transparent solid;
    }

    82% {
        border-right: 40px black solid;
    }

    100% {
        background-image: 
            linear-gradient(to right, black 10%, transparent 10%), 
            linear-gradient(to right, black 10%, transparent 10%),
            linear-gradient(to top, black 10%, black 10%),
            linear-gradient(to bottom, black 10%, black 10%),
            linear-gradient(to top, black 10%, black 10%),
            linear-gradient(to bottom, black 10%, black 10%),
            linear-gradient(130deg, transparent, transparent 45%, black 45%, black 55%, black 55%, black 100%),
            linear-gradient(230deg, black, black 45%, black 45%, black 55%, transparent 55%, transparent 100%),
            linear-gradient(to left, black 10%, transparent 10%),
            linear-gradient(to left, black 10%, black 10%),
            linear-gradient(to left, black 10%, black 10%),
            linear-gradient(to left, black 10%, transparent 10%);
    }
}


/* Taco Cat Styling */
.catBackground {
    position: absolute;
    top: 200%;
    bottom: -200%;
    left: 0;
    right: 0;
    z-index: -100;
    background-color: #daeaf0;
}

.taco-cat {
    height: 250px;
    width: 500px;
    background-color: #e7af00;
    border-radius: 250px 250px 25px 25px;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.taco-cat::before {
    content: "";
    display: block;
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: transparent;
    z-index: 3;
    left: 250px;   
    top: 100px;
    box-shadow: 105px 9px 0 -7px #fff,
    115px -5px 0 -2px #fff,
    -125px -5px 0 -2px #fff,
    -135px 9px 0 -7px #fff,
    110px 0 0 10px #000,
    -130px -0 0 10px #000,
    -20px 0 0 0 #e7af00,
    0 3px 0 0 black,
    -20px 3px 0 0 black,
    -10px 10px 0 0 red;
}

.taco-cat::after {
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: -1;
    background-color: transparent;
    background-position: -25px 195px;
    border-radius: 5px;
    box-shadow: 65px 30px 0 -10px #000, 
    65px 30px 0 -1px #e7af00,
    385px 30px 0 -10px #000,
    385px 30px 0 -1px #e7af00,
    -3px 180px 0 1px #983d00,
    -2px 165px 0 5px #983d00,
    5px 150px 0 5px #983d00,
    8px 140px 0 5px #34a62f,
    12px 130px 0 5px #34a62f,
    17px 120px 0 5px #34a62f,
    22px 110px 0 5px #34a62f,
    30px 100px 0 4px #34a62f,
    35px 90px 0 4px #ff000d,
    40px 80px 0 4px #ff000d,
    45px 70px 0 4px #ff000d,
    55px 60px 0 4px #ff000d,
    395px 60px 0 4px #ff000d,
    400px 70px 0 4px #ff000d,
    405px 80px 0 4px #ff000d,
    410px 90px 0 4px #ff000d,
    415px 100px 0 5px #34a62f,
    425px 110px 0 5px #34a62f,
    430px 120px 0 5px #34a62f,
    435px 130px 0 5px #34a62f,
    445px 140px 0 4px #983d00,
    450px 150px 0 4px #983d00,
    452px 155px 0 4px #983d00,
    455px 160px 0 4px #983d00,
    450px 170px 0 4px #983d00;
}